<a href="https://colab.research.google.com/github/kompellaanirudh/FlightPricePrediction/blob/main/AirlineFarePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### *Cloning Git repository *

In [5]:
!git clone https://kompellaanirudh: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@github.com/kompellaanirudh/FlightPricePrediction.git
% ls -a
%cd FlightPricePrediction/

fatal: destination path 'FlightPricePrediction' already exists and is not an empty directory.
./  ../  .config/  FlightPricePrediction/  sample_data/
/content/FlightPricePrediction

## Importing Dataset

In [15]:
#importing Dataset
import pandas as pd
training_data =  pd.read_excel('trainingDataset.xlsx')
print("Training data Head")
training_data.head()

Training data Head

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [16]:
print("Training data Info",training_data.info())
print("-"*40)
print("Training data Shape",training_data.shape)
print("-"*40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB
Training data Info None
----------------------------------------
Training data Shape (10683, 11)
----------------------------------------

In [8]:
test_data = pd.read_excel('testDataset.xlsx')

In [ ]:
#verifying if there are null values 
print(training_data.isnull().values.any())
print("-"*40)
print(training_data.isnull().sum())

In [17]:
#Removing null values
training_data.dropna(inplace= True)

In [43]:
#checking Additional information 
training_data['Additional_Info'].value_counts()

No info                         8042
In-flight meal not included     1876
No check-in baggage included     316
1 Long layover                    19
Change airports                    7
Business class                     4
Other                              3
Name: Additional_Info, dtype: int64

In [29]:
#Replacing No Info
training_data['Additional_Info']= training_data['Additional_Info'].replace({'No Info':'No info',
                                                                             '2 Long layover':'Other',
                                                                             'Red-eye flight':'Other',
                                                                             '1 Short layover':'Other'})

In [31]:
training_data['Additional_Info'].value_counts()

No info                         8347
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
Other                              3
Name: Additional_Info, dtype: int64

In [46]:
temp = training_data
temp.drop_duplicates()

           Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0           IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1        Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2      Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3           IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4           IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302
...            ...             ...       ...  ...         ...             ...    ...
10678     Air Asia       9/04/2019   Kolkata  ...    non-stop         No info   4107
10679    Air India      27/04/2019   Kolkata  ...    non-stop         No info   4145
10680  Jet Airways      27/04/2019  Banglore  ...    non-stop         No info   7229
10681      Vistara      01/03/2019  Banglore  ...    non-stop         No info  12648
10682    Air India       9/05/2019     Delhi  ...     2 stops         No info  11753

[10267 rows x 11 columns]

In [ ]:
training_data.isnull().sum()

In [ ]:
training_data["Journey_day"] = pd.to_datetime(training_data.Date_of_Journey,format='%d/%m/%Y').dt.day

In [ ]:
training_data["Journey_month"] = pd.to_datetime(training_data.Date_of_Journey,format='%d/%m/%Y').dt.month

In [ ]:
training_data["Departure_hour"] = pd.to_datetime(training_data.Dep_Time).dt.hour

In [ ]:
training_data["Departure_minute"] = pd.to_datetime(training_data.Dep_Time).dt.minute

In [ ]:
training_data["Arrival_hour"] = pd.to_datetime(training_data.Arrival_Time).dt.hour

In [ ]:
training_data["Arrival_minute"] = pd.to_datetime(training_data.Arrival_Time).dt.minute

In [ ]:
training_data.drop(['Dep_Time'],axis=1,inplace=True)

In [ ]:
training_data.drop(['Arrival_Time'],axis=1,inplace=True)

In [ ]:
training_data.head()

In [ ]:
training_data["Duration_minutes"]= training_data.Duration.str.replace("h", '*60').str.replace(' ','+').str.replace('m','').apply(eval)

In [ ]:
training_data["Duration_minutes"]

In [ ]:
training_data.drop('Duration',axis=1,inplace=True)

In [ ]:
training_data.Total_Stops.value_counts

In [ ]:
training_data["Stops"] = training_data.Total_Stops.replace(['non-stop','1 stop','2 stops','3 stops','4 stops'],[0,1,2,3,4],inplace=True)

In [ ]:
for x,y  in enumerate(training_data["Airline"].values):
  if y =="Vistara Premium economy":
    print(training_data.loc[x])
    break

In [ ]:
training_data["Airline"].value_counts().sum

In [ ]:
training_data["Airline"].replace({'Multiple carriers Premium economy':'Other', 
                                                        'Jet Airways Business':'Other',
                                                        'Vistara Premium economy':'Other',
                                                        'Trujet':'Other'},inplace=True)

In [ ]:
#for i in range(len(training_data)):
 # print(str(training_data["Date_of_Journey"][i]))

In [ ]:
training_data.drop(["Date_of_Journey"],axis=1,inplace=True)

In [ ]:
import seaborn as sns

In [ ]:

sns.countplot(x="Journey_month",data=training_data)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5))
sns.countplot(data=training_data,x="Airline")

In [ ]:
#converting categorial into numerical
data = training_data.drop(["Price"],axis=1)

In [ ]:
training_categorial = data.select_dtypes(exclude=['int64','int32','float'])

In [ ]:
training_numerical = data.select_dtypes(include=['int64','int32','float'])

In [ ]:
training_categorial

In [ ]:
training_numerical

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
training_categorial = training_categorial.apply(LabelEncoder().fit_transform)

In [ ]:
training_categorial['Airline'].value_counts()

In [ ]:
training_categorial['Source'].value_counts()

In [ ]:
training_categorial['Destination'].value_counts()

In [ ]:
X= pd.concat([training_categorial,training_numerical],axis=1)

In [ ]:
y=training_data['Price']

In [ ]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
X_train

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
#K neighbour regressor
k_range = list(range(1, 30))
params = dict(n_neighbors = k_range)
knn_regressor = GridSearchCV(KNeighborsRegressor(), params, cv =10, scoring = 'neg_mean_squared_error')
knn_regressor.fit(X_train, y_train)

In [ ]:
knn_regressor.best_params_

In [ ]:
y_train_pred = knn_regressor.predict(X_train)

In [ ]:
import numpy as np
def MAPE(Y_actual,Y_Predicted):
    mape = np.mean(np.abs((Y_actual - Y_Predicted)/Y_actual))*100
    return mape

In [ ]:
from math import sqrt
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score
from sklearn.metrics import *


print("Train Results for KNN Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", sqrt(mse(y_train.values, y_train_pred)))
print("Mean absolute % error: ", round(MAPE(y_train.values, y_train_pred)))
print("R-squared: ", r2_score(y_train.values, y_train_pred))

In [ ]:
  training_data["Additional_Info"].value_counts(), X_train["Additional_Info"].value_counts()

In [ ]:
import pickle
# open a file, where you ant to store the data
file = open('flight_price.pkl', 'wb')

# dump information to that file
pickle.dump(knn_regressor, file)

In [ ]:
model = open('flight_price.pkl','rb')
KNN = pickle.load(model)

In [ ]:
y_prediction = knn_regressor.predict(X_test)

In [ ]:
from sklearn import metrics
metrics.r2_score(y_test, y_prediction)

In [ ]:
def predict():
  prediction=model.predict([[4,4,3,48,7,0,0,27,6,10,20,11,50,100]])

  output=round(prediction[0],2)

  return output

In [ ]:
temp = predict()

In [ ]:
temp

In [ ]:

from sklearn.ensemble import ExtraTreesRegressor
selection = ExtraTreesRegressor()
selection.fit(X_train, y_train)
print(selection.feature_importances_)
plt.figure(figsize = (12,8))
feat_importances = pd.Series(selection.feature_importances_, index=X.columns)
feat_importances.nlargest(20).plot(kind='barh')
plt.show()

In [ ]:
model = pickle.load(open("flight_price.pkl", "rb"))